@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.geocoder-container {
  position: absolute;
  color: black;
  z-index: 1000;
  top: 20px;
  left: 20px;  /* Move to the left edge */
  transform: none;  /* Remove centering transform */
  width: 400px;
}

.geocoder-container input[type="text"] {
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  background: white;
}

.mapboxgl-ctrl-geocoder {
  width: 400px;
  overflow: visible;
  white-space: nowrap;
  background-color: white;
  text-overflow: ellipsis;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  padding-left: 10px;
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder--results {
  max-height: auto;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow-y: auto;
  width: 100%;
}

.mapboxgl-ctrl-geocoder--suggestion {
  padding: 10px;
  border: none;
}
