@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.geocoder-container {
  position: absolute;
  color: black;
  z-index: 1000;
  top: 20px; /* Position the geocoder at the top */
  left: 20px;
  width: 400px;
}

.geocoder-container input[type="text"] {
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  background: white;
}

.mapboxgl-ctrl-geocoder {
  width: 400px;
  overflow: visible;
  white-space: nowrap;
  background-color: white;
  text-overflow: ellipsis;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.mapboxgl-ctrl-geocoder--icon {
  display: none; /* Hide the magnifying glass icon */
}

.mapboxgl-ctrl-geocoder--input {
  padding-left: 10px;
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder--results {
  max-height: auto;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow-y: auto;
  width: 100%;
}

.mapboxgl-ctrl-geocoder--suggestion {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion:hover {
  background-color: #f0f0f0;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button:hover {
  background-color: white;
  color: black;
}

.sign-in {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sign-in:hover {
  background-color: white;
  color: black;
}

.save-button {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.save-button:hover {
  background-color: white;
  color: black;
}

.home-button {
    position: absolute;
    bottom: 40px; /* Adjusted to move the button up */
    left: 15px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: white;
    color: black;
  }
  .mapboxgl-popup-content {
    color: black; /* Ensures text is black */
  }
  